<html>
    <head>
        <title>Özgür'ün Blog Sayfası</title>
    </head>
    <body>
        <div>
            <h1><a href="/"> Özgürün Blog'una Hoşgeldiniz :) </a></h1>
        </div>

        {% for post in posts %}
            <div>
                <p>published: {{ post.published_date }}</p>
                <h1><a href="">{{ post.title }}</a></h1>
                <p>{{ post.text|linebreaksbr }}</p>
            </div>
        {% endfor %}

        <footer style="grid-row-end: all;color: black;margin-left: 200px;font-size: 50px;">Sevgili Kazım Çelik ve Salih Yavuzer Selamlar!...</footer>

    </body>
</html>